In [1]:
d="abcdefg"
print(d[:3])

abc

In [2]:
e ="clocrkr1e1c1t"

print(e[::2])

correct

In [4]:
f = "i am right"
print(f.upper())

I AM RIGHT

In [5]:
def divide(num1: float, num2: float):
    return(num1/num2)
x=40
y=10
divide(x,y)

4.0

In [6]:
def con (x,y):
    return x+y


con(2,3)

5

In [3]:
def freq(str,target ):
  word=[]
  words=str.split()
  for word in words:
    return words.count(target)

str="Mary had a little lamb little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go"
word="little"
print("the count of it =",freq(str,word))

the count of it = 4

In [9]:
def outer(a,b):
    def inner(a,b):
        return a+b
    add = inner(a,b)
    return add+5
outer(5,4)

14

In [10]:
def sum(x):
  if x==0:
    return 0
  else:
    return x + sum(x-1)
sum(10)

55

In [8]:
length=int(input("enter the value of the length : "))
width=int(input("enter the value of the width : "))

area=length*width
perimeter = 2 * (length*width)

print(f"the area is {area} and the perimeter is {perimeter}")

enter the value of the length : 5
enter the value of the width : 5
the area is 25 and the perimeter is 50

In [9]:
num1=int(input("Enter the first num:"))
num2=int(input("Enter the second num:"))
num3=int(input("Enter the third num:"))

if (num1>num2 and num1>num3):
    max=num1
elif (num2>num1 and num2>num3):
    max=num2
else:
    max=num3
print ("Maximum :",max)

Enter the first num:5
Enter the second num:6
Enter the third num:7
Maximum : 7

In [10]:
num=[1,8,-9,30,-70,5,0]
sum=0
for i in num:
  if i>0:
    sum+=i

print(sum)

44

In [ ]:
num1=int(input("Enter the first num :"))
op=str(input("Enter the operation you want to use (+,-,*,/) :"))
num2=int(input("Enter the second num :"))
if op == "+":
    print(f"{num1} {op} {num2} =",num1+num2)
elif op=="-":
    print(f"{num1} {op} {num2} =",num1-num2)
elif op=="*":
    print(f"{num1} {op} {num2} =",num1*num2)
elif op=="/":
    print(f"{num1} {op} {num2} =",num1/num2)